/**CSS Anatomy: Selector{properties: values;}**/

@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #02475e;
  transition: top 500ms ease-in-out;
  width: 100%;
  z-index: 2;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

.links {
  display: flex;
  margin: 0 -1em;
  margin-right: 30px;
}

.links a {
  display: inline-block;
  font-family: 'Bangers', sans-serif;
  margin: 0 1em;
  font-size: 1.2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: white;
  font-family: 'Bangers', sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Bangers', cursive;
  color: #02475e;
}

h2 {
  font-size: 2.8rem;
  font-family: 'Bangers', sans-serif;
  font-weight: bolder;
  color: #02475e;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Bangers';
  color: #02475e;
}

p {
  line-height: 2;
}

hr {
  /*Border Style properties*/
  border: dotted #a1cae2 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.tell-me {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #a1cae2;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  font-weight: bolder;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #02475e;
  margin: 0;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-sun {
  position: absolute;
  top: 100px;
  right: 70%;
}

.top-cloud {
  animation-name: top-cloud;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 130px;
  left: 70%;
}

.bottom-cloud {
  animation-name: bottom-cloud;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  right: 60%;
  bottom: 300px;
}

.mountain-1 {
  position: relative;
  padding: 0;
}

.profile-me {
  border-radius: 100%;
}

.profile {
  padding-top: 15px;
}

.skill-grap {
  position: relative;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-ghost {
  animation-name: skill-ghost;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  float: left;
  margin: 0 auto 0 auto;
  margin-bottom: 150px;
  position: relative;
  width: 8%;
}

.skill-webdev {
  float: right;
  margin-left: 30px;
  position: relative;
  width: 20%;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-link {
/**  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 14px; **/
  /**Font awesome**/
  padding: 10px;
  width: 20px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;

}

.fa-deviantart {
  background: #00917c;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.76rem;
  padding: 20px 0;
}

.btn-float {
   background: #02475e;
   background-image: -webkit-linear-gradient(top, #02475e, #02475e);
   background-image: -moz-linear-gradient(top, #02475e, #02475e);
   background-image: -ms-linear-gradient(top, #02475e, #02475e);
   background-image: -o-linear-gradient(top, #02475e, #02475e);
   background-image: -webkit-gradient(to bottom, #02475e, #02475e);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 20px;
   line-height: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 132px;
   font-size: 16px;
   font-weight: 900;
   padding: 12px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 30px;
}

.btn-float:hover {
   border: #ED3333;
   background: #811616;
   background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
   background-image: -moz-linear-gradient(top, #811616, #F63D3D);
   background-image: -ms-linear-gradient(top, #811616, #F63D3D);
   background-image: -o-linear-gradient(top, #811616, #F63D3D);
   background-image: -webkit-gradient(to bottom, #811616, #F63D3D);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


/**Sun Rotation**/
.top-sun {
		-webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/**Ghost Effect**/
.skill-ghost {
     animation-name: skill-ghost ;
     animation-timing-function: ease;
 }

.top-cloud {
     animation-name: top-cloud;
     animation-timing-function: ease;
 }

.bottom-cloud {
     animation-name: bottom-cloud ;
     animation-timing-function: ease;
 }

 @keyframes skill-ghost {
     0%   { transform: translateY(0); }
     50%  { transform: translateY(-20px); } /**Bounce effect**/
     100% { transform: translateY(0); }
 }

 @keyframes top-cloud {
     0%   { transform: translateY(0); }
     50%  { transform: translateY(-20px); } /**Bounce effect**/
     100% { transform: translateY(0); }
 }

 @keyframes bottom-cloud {
     0%   { transform: translateY(0); }
     50%  { transform: translateY(-20px); } /**Bounce effect**/
     100% { transform: translateY(0); }
 }
